.mainL{
    margin: 0;
    padding:3rem;
   
}

.formclass{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    
 
}

.Login{
    height:110vh;
    width: 400px;;
    background-color: rgb(246, 255, 253);
    border: 2px solid rgb(168, 165, 165);
    text-align: left;

}

